.navbar {
  width: 100vw;
  min-height: 97px;
  background: radial-gradient(50.42% 2051.37% at 49.58% 29.62%, #2394D8 0%, #47B1F0 100%);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

  .nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    max-font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    transition: all 0.3s;

    &:first-child {
      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      &:hover {
        transform: translateY(-7%);
        transition: all 0.3s;
      }
    }
  }

  .hamburger {
    width: 38px;
    height: 38px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    outline: none;
    transition: all 0.3s;

    .hamburger-element {
      width: 25px;
      height: 0;
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      transition: all 0.5s;
      position: absolute;

      &:nth-child(1) {
        position: relative;
        top: -5px;
      }

      &:nth-child(2) {
        position: relative;
        top: 0;

      }

      &:nth-child(3) {
        position: relative;
        top: 5px;
      }
    }

    &.open {

      background: rgb(255, 255, 255);
      transition: all 0.3s;

      :nth-of-type(1) {
        transform: rotate(45deg);
        transition: all 0.5s;
        top: 2px;
        background-color: #37A4E5;
        border: 1px solid #37A4E5;
      }

      :nth-of-type(2) {
        opacity: 0;
        transition: all 0.5s;
        background-color: #37A4E5;
        border: 1px solid #37A4E5;
      }

      :nth-of-type(3) {
        transform: rotate(135deg);
        transition: all 0.5s;
        top: -2px;
        background-color: #37A4E5;
        border: 1px solid #37A4E5;
      }
    }
  }

  .label-for-hamburger {
    font-weight: bold;
    max-font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin: 0 0 0 12px;
    color: #FFFFFF;

    &:hover {
      text-decoration: underline;
    }
  }
}





